@import 'tailwindcss';

@theme {
  --color-background: #1a1a1a;
  --color-text: #cccccc;
  --color-primary: #e0ed5e;
  --color-text-hover: #e0ed5e;
}

/*@theme .bright {*/
/*  --color-background: #edebeb;*/
/*  --color-text: #00afaa;*/
/*  --color-primary: #00afaa;*/
/*  --color-text-hover: #1b2b38;*/
/*}*/

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

iframe {
  border: none;
}

hr {
  border-top: none;
  border-bottom: 1px solid;
  border-color: #0003;
  margin: 2rem 0;
}
